
<table class="ui black inverted table">
  <thead>
    <tr>
      <th></th>
      <th>Song</th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>
          <a class="ui purple inverted circular label">{{position}}</a>
        </td>
        <td>
          <a href="/viewsong/{{title}}" >{{title}}</a>
        </td>
        <td>
          <a href="https://api.spotify.com/v1/search?query="+artist+"&type=artist">{{artist}}</a>
        </td>
            <td>
          <a class="ui inverted purple button" > Add Song to Playlist </a>
        </td>
        {{>viewsong}}
      </tr>
    {{/each}}
  
  </tbody>
</table>
