  <nav class="ui inverted menu">
  <header class="ui purple header item"> My Playlist App </header>
 

      <form>
    <div class="inline fields">
      <div class="ui inverted input">
          <input id="query" required type="text" maxlength="100" placeholder="Song/Artist">    
      </div>
        <button type="submit" class="ui inverted purple button">Search</button>
    </div>
      </form>

    
    <div class="right inverted menu">
      <a id="dashboard" class="ui purple header item"href="/dashboard"> Dashboard  </a>
    </div>
    <body>
  
    </body>
</nav>


