{{#each playlist.songs}}  
<section style="background-color:#F573A0;color:white;">
    < <h2 class="ui header">
      {{song.title}}
    </h2>
        <div id="search-track-container"></div>
  </section>
{{/each}}